.sticky{
  position: sticky;
  position: -webkit-sticky;
  height: 50px;
  width: 100%;
  background-color: purple;
  color: white;
  font-size: 50px;
  text-align: center;
   
  /* have to specify where it should stay otherwise it will act as normal static positioning. */
  top: 0;
  margin: 0;
}


*{
  margin: 0;
}